<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>
        <%= title%>
    </h1>

    <ul>
        <% for(let i=0; i < historyOfWeather.length; i++) { %>
            <li style="margin: 15px;">
                <form action="/bot/message" method="POST">
                    Chat id of User: <%= historyOfWeather[i].chatId %> <br>
                        City: <%= historyOfWeather[i].city %> <br>
                            Other Information: <%= historyOfWeather[i].otherInformation %>
                </form>
            </li>
            <% } %>
    </ul>
</body>

</html>